[Unit]
Description=Nextcloud Apache server
After=docker.service
Requires=docker.service
Requires=mariadb.service

[Service]
Type=forking
ExecStartPre=/usr/bin/docker-compose -f {{nextcloud_directory}}/docker-compose.yml stop
ExecStart=/usr/bin/docker-compose -f {{nextcloud_directory}}/docker-compose.yml start
ExecStop=/usr/bin/docker-compose -f {{nextcloud_directory}}/docker-compose.yml stop
Restart=always
RestartSec=500

[Install]
WantedBy=multi-user.target
