[Unit]
Description=Nextcloud Apache server
After=docker.service
Requires=docker.service
Requires=mariadb.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose -f {{nextcloud_directory}}/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f {{nextcloud_directory}}/docker-compose.yml down

[Install]
WantedBy=multi-user.target
